@font-face {
  font-family: "iconfont"; /* Project id 4506512 */
  src: url('iconfont.woff2?t=1713018162144') format('woff2'),
       url('iconfont.woff?t=1713018162144') format('woff'),
       url('iconfont.ttf?t=1713018162144') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hd:before {
  content: "\e640";
}

.icon-menu:before {
  content: "\e604";
}

.icon-home:before {
  content: "\e609";
}

.icon-home6:before {
  content: "\e605";
}

.icon-cd:before {
  content: "\e67d";
}

.icon-ckzdh:before {
  content: "\e65d";
}

.icon-ckxh:before {
  content: "\e693";
}

.icon-gb:before {
  content: "\eb6a";
}

.icon-zxh:before {
  content: "\e623";
}

.icon-zjt:before {
  content: "\e694";
}

.icon-hua:before {
  content: "\e986";
}

.icon-td:before {
  content: "\e9f3";
}

.icon-td-fill:before {
  content: "\e638";
}

.icon-xw:before {
  content: "\e61a";
}

.icon-flower:before {
  content: "\e634";
}

